#summonerGameAveragesTitle{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    border: 2px;
}
.winLossTable{
	width:100%;
	font-size:20px;
	border-bottom: 3px solid #808080;
}

.averageTable{
    width:100%;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.averageTable th{
    text-align: center;
    background: #333;
    color:white;
    border: 1px solid gray;
}
.averageTable td{
    border: 1px solid gray;
    text-align: center;
}
.averageTable tr{
    border: 1px solid gray;
    text-align: center;
}

.borderedTable{
    margin-bottom: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.matchDivStyle{
    margin-top: 3px;
    width: 100%;
    height: 215px;
    border: 2px groove black;
}
#ChampionData{
    width:100%;
    border-color: white;
}
.matchTable{
    width:100%;
    border: 1px solid gray;
    text-align:center;
}
.matchTable tr{
    border: 1px solid gray;
    text-align:center;
}
.matchTable td{
    border: 1px solid gray;
    text-align:center;
}
.win th{
    background: #00CC00;
    border: 1px solid gray;
    text-align:center;
}
.loss th{
    background: #990000;
    color:white;
    border: 1px solid gray;
    text-align:center;
}
.headerRow{
    background: #333;
    border: 1px solid gray;
    color:white;
    text-align:center;
}
#champSelectContainer{
    position:relative;
    width:493px;
    float:none;
    margin: auto;
    margin-top: 51px;
}
#statsContainer{ 
    position:relative;
    width: 95%;
    float:none;
    margin: auto;
}
th{
    text-align: center;
}
/* BASIC LINKS=======================================*/
a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:white;
}

a:active {
    color:white;
}
/* End Basic LINKS==================================*/

    
