.summonersTable{
    width:100%;
    margin:0;
}
.summonerInputBox{
    margin:auto;
    margin-top: 200px;
    width:50%;
    margin-top: 
}
.regionSelectContainer{
    margin:auto;
    margin-top: 10px;
    width:50%;
    margin-bottom: 20px
}
.teamTable{
    width:85%;
    margin:auto;
    border:1px solid gray;
}
.teamTable th{
    text-align: center;
}
.team1Banner{
    height:5px;
    background: blue;
}
.team2Banner{
    height:5px;
    background: red;
}
.headers{
    background: black;
    color: white;
}
#champSelectContainer{
    position:relative;
    width:493px;
    float:none;
    margin: auto;
    margin-top: 51px;
}
#statsContainer{ 
    position:relative;
    width: 850px;
    float:none;
    margin: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
th{
    text-align: center;
}


    
