.currentGameSection{
	height:calc(100vh);
	padding:10px;
}
.team{
	display:inline-block;
	width:100%;
	padding:10px;
}
.team1Header{
	background-color:#448AFF;
	color:white;
	border-bottom:2px solid #B6B6B6;
}
.team1{
	background-color:#448AFF;
}
.team2{
	background-color:#F44336;
}
.team2Header{
	background-color:#F44336;
	color:white;
	border-bottom:2px solid #B6B6B6;
}
.player{
	display:inline-block;
	width:20%;
}
.playerRow{
	background-color: white;
	width:100%;
	padding:3px;
	margin-bottom:3px;
}
.playerRowHeader{
	background-color: #B6B6B6;
}
.championIcon{
	margin:auto;
	padding:5px;
}
.summonerInfo{
}
.summonerName{
	font-size: 1.25em;
}

.currentGameLogo{
	display:inline-block;
	margin:auto;
	text-align: center;
	font-size: 3em;
}
.bans{
	text-align: center;
	width:100%;
	font-size: 3em;
}
.team1Bans{
	display:inline-block;
	float:left;
	color:white;
	text-align: center;
	background-color: #448AFF;
	padding:5px;
}
.team2Bans{
	display:inline-block;
	float:right;
	color:white;
	text-align: center;
	background-color: #F44336;
	padding:5px;
}