#LOLStatsForm{
    border: 20px;
}

#LOLStatsFormDiv{
    height: 50px;
}

#summonerGameAveragesTitle{
    color: #3B3B3B;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    border: 2px;
}

#summonerID{
}

.win{
    width: 100%;
    height: 150px;
    background-color: green;
    border: 5px solid black;
    padding-bottom: 10px;
}
.loss{
    width: 100%;
    height: 150px;
    background-color: red;
    border: 5px solid black;
    padding-bottom: 10px;
}

.statstable{
    border: 5px solid black;
    color: white;
    background-color: #3B3B3B;
    width: 100%;
    padding-top: 5px;
}

table.statstable th {
    color: white;
    text-shadow: 2px 2px black;
}

table.statstable td {
    border: 2px solid white;
    text-shadow: 2px 2px black;
}

/* BASIC LINKS=======================================*/
a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:white;
}

a:active {
    color:white;
}
/* End Basic LINKS==================================*/

    
