<form ng-submit="submitForm()">
    <!-- Have the user enter in summoner stats. !-->
    <div id="userSelectContainer" style="margin:auto; margin-bottom: 20px; width:606px" >
        <!-- Summoner name input !-->
        <div id="summonerInput" style="display:inline-block" class="summonerInputBox input">
            <input type="text" id="summonerName" name="sumName" class="form-control" placeholder="Summoner Name" ng-model="summonerName">
        </div> 

        <!-- Select the region !--> 
        <div id="regionSelectContainer" style="display:inline-block" class="regionSelectContainer"> 
            <select id="regionSelect" name="region" class="form-control input" ng-model="region">
                <option  ng-repeat="region in regions" value={{region.value}}>{{region.name}}</option>
            </select>
        </div>
        <div id="loadGame" style="display:inline-block">
            <input type="submit" value="Submit" class="btn btn-default input" style="margin:auto;">
        </div>
    </div>  
</form>