<!--Navigation bar !-->
<section id="navBar" class="navSection">
    <div id="navBody" class="navBody">
        <!--Div to hold the logo. Add pictures or other things!-->
        <div id="logo" class="logo">
            League Analysis
        </div>
        <div style="display:table-cell; vertical-align:middle;">
        	<div id="linkTable" class="linkTable">
		    	<div class="link" ng-click="changeLocation('/')">
					Choose Summoner
		    	</div>
		    	<div class="link" ng-click="changeLocation('/analysis/')">
		    		Summoner Information
		    	</div>
		    </div>
	    </div>
    </div>
    <hr style="border: 1px solid #B6B6B6; margin:0"/>

</section>