.navSection{
    background-color: #689F38;
    color:white;
    height:50px;
    width:100%;
}

.navBody{
    display:table;
    padding:0px 15px 0px 15px;
    width:100%;
    height:100%;
    margin:auto;
}

.logo{
    display:table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 2em;
}
.linkTable{
    display:table;
    height:45px;
    width:100%;
}
.link{
    display:table-cell;
    text-align:center;
    cursor:pointer;
    font-size:1.5em;
    vertical-align: middle;
    border-left:2px solid #B6B6B6;
    padding:0px 10px 0px 10px;
}
.link:hover{
    background-color: #8BC34A;
}
.linkActive{
    display:table-cell;
    border-radius: 10px;
    vertical-align: middle;
    background-color: #448AFF;
    height:100%;
    padding:0px 10px 0px 10px;
}
a{
    text-decoration: none;
    color:white;
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
}